<div class="container">

  <nav class="navbar navbar-dark bg-dark">
    <div class="centrar">
      <h3 class="centrado">Grego Firebase + Angular CRUD</h3>
    </div>
  </nav>
</div>
<br>
<br>



<div class="container" style="text-align: center;">
  <button style="text-align: center;" type="button" class="btn btn-success" (click)="open(content)">Agregar estudiante
  </button>
  <br>
  <br>
  <h2> Sistema de estudiantes </h2>
  <!-- El elemento thead contiene a un bloque de filas
  (tr) representa a la sección de encabezado de una tabla (table), 
  donde las celdas de encabezado (th) son encontradas habitualemnte. -->
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <!-- El elemento tbody contiene a un bloque de filas (tr) que representaa a la 
    sección del cuerpo de una tabla (table).  -->
    <tbody>
      <tr *ngFor="let item of colections.data | paginate: config">
        <td> {{item.id}} </td>
        <td> {{item.nombre}} </td>
        <td> {{item.apellido}} </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openEditar(content,item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="delet(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Se crea un pagination-controls -->
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

  <!-- Se crea el modal modal-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Estudiante created/update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <form [formGroup]="estudiantesForm" >
            <div class="form-group">
              <label>Id</label>
              <input type="number" formControlName="id" class="form-control">
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" formControlName="nombre" class="form-control">
            </div>
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" formControlName="apellido" class="form-control"> 
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"  *ngIf = "!btnactualizar" (click)="guardarEstudiante()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" *ngIf = "btnactualizar" (click)="actualizar()">Actualizar</button>
    </div>
  </ng-template>

</div>