<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Grego - Practica Firebase + Angular</a>
    </div>
  </nav>
</div>
<br>
<br>

<div class="container">
  <!-- El elemento thead contiene a un bloque de filas
  (tr) representa a la sección de encabezado de una tabla (table), 
  donde las celdas de encabezado (th) son encontradas habitualemnte. -->
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </thead>

    <!-- El elemento tbody contiene a un bloque de filas (tr) que representaa a la 
    sección del cuerpo de una tabla (table).  -->
    <tbody>
      <tr *ngFor="let item of colections.data">
        <td> {{ item.id}} </td>
        <td> {{ item.nombre}} </td>
        <td> {{ item.apellido}} </td>
      </tr>
    </tbody>
  </table>
</div>